<div class=" py-5">
    <h2>Nosotros</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat neque sed tenetur ipsa alias et amet ipsam quo omnis tempora, exercitationem corporis, iure architecto facilis iusto recusandae repellendus libero deserunt.</p>

    <ul class="list-group">
            <li class="list-group-item " aria-disabled="true" *ngFor = "let item of equipo, index as i">

                <h6> Nombre: {{item.nombre}}</h6>
                <h6> Cedula: {{item.cedula}}</h6>
                <h6> Correo: {{item.correo}}</h6>
                <a [routerLink]="['/equipo', i]"> Leer mas ...</a>
                
            </li>
            
          </ul>
</div>