
<div class="mt-5">
    <h2>Inicio</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt culpa, odio magni maiores alias, iste hic nisi illum itaque sit perspiciatis nobis doloremque cupiditate natus facilis corporis? Magni, accusantium eligendi!</p>
</div>